#chat-app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: rgb(78, 78, 78);
}

#message-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

#message-input-container {
    padding: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
}

#message-input {
    width: calc(100% - 20px);
    border-radius: 12px;
    height: 14px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: unset;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.message {
    background-color: white;
    max-width: 50%;
    width: max-content;
    padding: 5px 10px;
    border-radius: 12.5px;
    margin: 10px;
    clear: both;
    float: left;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.message.me {
    background-color: #A5D6A7;
    clear: both;
    float: right;
}

#icon-mic {
  height: 32px;
  width: 32px;
  background-color: #009688;
  background-image: url('https://www.shareicon.net/data/2016/03/27/465664_media_256x256.png');
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: -4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#icon-mic:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6), 4px 4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.wave {
    position: relative;
    text-align: center;
  }
 
  .wave .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 3px;
    background: rgb(146, 146, 146);
    animation: wave 1.3s linear infinite;
  }
  
  .wave .dot:nth-child(2) {
    animation-delay: -1.1s;
  }
  
  .wave .dot:nth-child(3) {
    animation-delay: -0.9s;
  }
  
  @keyframes wave {
    0%, 60%, 100% {
      transform: initial;
    }
    30% {
      transform: translateY(-7.5px);
    }
  }