* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
}

body > header {
    text-align: center;
    color: white;
    background-color: #009688;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

body > header > * {
    margin-right: 10px;
}

body > header > img {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid dimgray;
}

body > main {
    flex: 1;
    background-image: url(http://i.imgur.com/1Rg03go.png);
    overflow-y: auto;
}

body > footer {
    background-color: #009688;
    min-height: 20px;
}